---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>blog</title>
    </head>
    <body>
      <h1>Blog</h1>
      <p>este blog es para Lorem ipsum dolor sit amet.</p>
      <a href="/">Inicio</a>

      <h1>Leer un blog cualquiera</h1>

      <p>
        Ingrese para ver el blog<br /><br />
      </p>
      <ul>
        <li><a href="/posts/post-1/">¿Qué es Astro?</a><br /></li>
        <li>
          <a href="/posts/post-2/">¿Por qué elegí Astro para mi blog?</a><br />
        </li>
        <li>
          <a href="/posts/post-3/">Mi primer componente en Astro</a><br />
        </li>
      </ul>
    </body>
  </html>
</Layout>
